!!! 5
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield

      %h1 Search TMDB for a movie
      = form_tag :action => 'search_tmdb' do
        %label{:for => 'search_terms'} Search Terms
        = text_field_tag 'search_terms'
        = submit_tag 'Search TMDB'
